h1
{
	font-family: Arial black;
	font-size: 24px ;
	font-color: lightblue;
	text-align: center;
}
pre {
	font-size: 18px;
    color: red;   
	font-color: lightblue;
	font-family: Arial;
 }